* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #495057;
}
body {
  font-family: "Rubik", sans-serif;
  background-color: #fff;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(33, 37, 41, 0.7),
      rgba(33, 37, 41, 0.7)
    ),
    url(background2.jpg);
  background-size: cover;
  color: #f8f9fa;
  position: relative;
  margin-bottom: 400px;
}
nav {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 20px;
  letter-spacing: -0.3px;
  width: 1400px;
}
.logo {
  margin-right: auto;
}
.option--box {
  margin-left: auto;
  display: flex;
  gap: 32px;
}
.option:link,
.option:visited {
  text-decoration: none;
  font-weight: 500;
  color: #f8f9fa;
  transition: font-size 500ms, color 500ms;
}
.option:hover,
.option:active {
  color: #a61e4d;
  font-size: 1.2em;
}
h1 {
  font-size: 52px;
  line-height: 1;
  margin-bottom: 32px;
  font-weight: 700;
  color: #f8f9fa;
  letter-spacing: -1px;
}
.hero {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
}
.hero--inner {
  width: 50%;
}
.desc {
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #f8f9fa;
}
button {
  border: none;
  background-color: #c2255c;
  color: #f8f9fa;
  border-radius: 5px;
  font-weight: 600;
  transition: transform 500ms, background-color 500ms;
}
button:hover {
  background-color: #a61e4d;
  transform: scale(1.05, 1.05);
  cursor: pointer;
}
.hero--btn {
  font-size: 24px;
  padding: 16px 32px;
  cursor: pointer;
}
.z {
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
  width: 1200px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 200px;
  margin-bottom: 400px;
}
.photos {
  border-radius: 2px;
  width: 400px;
  height: 400px;
  z-index: 1;
  justify-self: start;
}
.circle {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #a61e4d;
  border-radius: 50%;
  top: -100px;
  left: -200px;
  overflow: hidden;
}
.photo--desc--header {
  margin-bottom: 50px;
  font-size: 42px;
  font-weight: 600;
  color: #212529;
  line-height: 1;
}
.photo--desc--p {
  font-size: 20px;
  line-height: 1.7;
}
.colored--parent {
  position: relative;
  height: 400px;
  justify-self: end;
}
.colored--children {
  position: absolute;
  right: -50px;
  bottom: -25px;
  width: 1300px;
  border-radius: 5px;
  height: 450px;
  background-color: #a61e4d;
  z-index: -1;
}
.colored {
  color: #f8f9fa;
}
h2.colored {
  color: #fff0f6;
}

.last--photo {
  position: relative;
}
.last--photo::before {
  content: "";
  background-color: #a61e4d;
  width: 2px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: -100px;
}
.photo--bg {
  outline-color: #f8f9fa;
  outline-width: 10px;
  outline-style: solid;
}
.cards--section {
  text-align: center;
  margin-bottom: 300px;
}
.cards--section h1 {
  color: #212529;
  margin-bottom: 110px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 200px;
}
.one--card {
  width: 300px;
  height: 500px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
  text-align: left;
}
.one--card h3 {
  font-size: 24px;
  color: #212529;
  margin-bottom: 32px;
  border-bottom: 1px solid #a61e4d;
}
.card--photo {
  width: 100%;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cards--desc {
  padding: 18px;
}
.one--card ul {
  list-style-type: none;
  margin-bottom: 28px;
  letter-spacing: 1px;
}
.one--card li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.btn--div {
  width: 100%;
  text-align: center;
}
.card--btn {
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 700;
}
footer {
  height: 400px;
  width: 100%;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 700px;
}
footer p {
  font-size: 12px;
  margin-bottom: 25px;
}
.social--links {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 200ms;
}
.social--links:hover,
.social--links:active {
  transform: scale(1.2, 1.2);
}
.footer--side {
  width: 400px;
}
.footer-logo {
  transform: translateX(-50px);
  margin-bottom: 12px;
}
.footer--side h2 {
  color: #212529;
  border-bottom: 1px solid #a61e4d;
  margin-bottom: 20px;
  font-size: 1.7rem;
}
.footer--side ul {
  list-style-type: none;
}
.footer--side a {
  text-decoration: none;
}
.footer--side li {
  line-height: 1.7;
  cursor: pointer;
  font-size: 1.2rem;
  transition: font-size 200ms;
}

.footer--side li:hover,
.footer--side li:active {
  color: #a61e4d;
  font-size: 1.23rem;
}
.nav-container {
  width: 100%;
  background-color: #c2255c;
  display: flex;
  justify-content: center;
}

.red-background {
  width: 74%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.option--box {
  display: flex;
  gap: 32px;
}

.about-us {
  padding: 50px 50px;
}

.about-us h1 {
  margin-bottom: 20px;
  color: #212529;
  text-align: center;
}

.about-us p {
  font-size: 18px;
  color: #495057;
  line-height: 1.6;
  margin-bottom: 50px;
}
